/* Media Query for medium+ views */
@media only screen and (min-width: 34rem) { 

    /** header links **/



    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.5rem;
    }

  
    
      img {
        padding: 20px;
        max-width: 100%;
      }
     
    }